<div class="container justify-content-center align-items-center" style="padding-top: 80px;">
    <div class="col-12 justify-content-center align-items-center">
        <img class="mx-auto d-block" ng-show="$ctrl.is_working" src="/static/img/spinner.gif">
    </div>

    <div class="alert alert-danger col-12" role="alert" ng-repeat="error in $ctrl.errors">
        <strong>Error</strong> - {{error}}
    </div>

    <div class="row">
        <form id="loginForm" class="col-12" ng-submit="$ctrl.login()" ng-hide="$ctrl.is_working">
            <div class="form-group">
                <label for="emailInput">Email</label>
                <input type="email" class="form-control" id="emailInput" name="email" ng-model="$ctrl.loginForm.email" focus-if>
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" id="passwordInput" name="password" ng-model="$ctrl.loginForm.password">
                
            </div>
            <input type="hidden" ng-init="$ctrl.loginForm.next = $ctrl.next" ng-model="$ctrl.loginForm.next">

            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary btn-block">Login</button>

            </div>
        </form>
    </div>
</div>