<div class="container justify-content-center align-items-center" style="padding-top: 80px;">
    <div class="alert alert-danger col-12" role="alert" ng-repeat="error in $ctrl.errors">
        <strong>Error</strong> - {{error}}
    </div>

    <div class="row">
        <img class="mx-auto d-block" ng-show="$ctrl.is_working" src="/static/img/spinner.gif">
        <input class="form-control" id="shortcutSearchInput" placeholder="Search..." ng-model="$ctrl.shortcutSearch" focus-if>
        <br />
        <table class="table" ng-hide="$ctrl.is_working">
            <thead>
                <tr>
                    <th class="col-2" scope="col">Keyword</th>
                    <th scope="col-6">Description</th>
                    <th scope="col-4">URL</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="shortcut in $ctrl.shortcuts | filter:$ctrl.shortcutSearch">
                    <td><a href="#!/shortcuts/{{shortcut.id}}">{{shortcut.keyword}}</a></td>
                    <td><a href="#!/shortcuts/{{shortcut.id}}">{{shortcut.description}}</a></td>
                    <td><a href="#!/shortcuts/{{shortcut.id}}">{{shortcut.url}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <a class="btn btn-outline-primary btn-block" href="#!/shortcuts/new">New</a>
        <a class="btn btn-outline-secondary btn-block" href="#!/">Back</a>
    </div>
</div>