<div class="container justify-content-center align-items-center" style="padding-top: 80px;">
    <div class="col-12 justify-content-center align-items-center">
        <img class="mx-auto d-block" ng-show="$ctrl.is_working" src="/static/img/spinner.gif">
    </div>

    <div class="alert alert-danger col-12" role="alert" ng-repeat="error in $ctrl.errors">
        <strong>Error</strong> - {{error}}
    </div>

    <div class="row">
        
        <form class="col-12" ng-submit="$ctrl.editShortcutSubmit()" ng-hide="$ctrl.is_working">
            <div class="form-group">
                <label for="keywordInput">Keyword</label>
                <input type="text" class="form-control" id="keywordInput" placeholder="example" name="keyword" ng-model="$ctrl.shortcut.keyword" value="{{$ctrl.shortcut.name}}" focus-if required>
            </div>
            <div class="form-group">
                <label for="urlInput">URL</label>
                <input type="text" class="form-control" id="urlInput" placeholder="https://example.com" name="url" ng-model="$ctrl.shortcut.url" value="{{$ctrl.shortcut.url}}" required>
            </div>
            <div class="form-group">
                <label for="descriptionInput">Description</label>
                <input type="text" class="form-control" id="descriptionInput" placeholder="An Example site" name="description" ng-model="$ctrl.shortcut.description" value="{{$ctrl.shortcut.description}}">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary btn-block">Update</button>
                <button class="btn btn-outline-danger btn-block" ng-click="$ctrl.deleteUserSubmit()">Delete</button>
                <button class="btn btn-outline-secondary btn-block" ng-click="$ctrl.goList()">Back</button>
            </div>
        </form>
    </div>
</div>