<div class="container">
    <div>
        <div class="mainRow" style="position: absolute; top: 50%; right: 0; left: 0; width: 90%; max-width: 610px; margin: 0 auto; transform: translateY(-100px); text-align: left; ">
        <form class="" ng-submit="$ctrl.submitKeyword()">
            <div class="form-group">
                <input type="text" class="form-control basicAutoComplete" id="mainInput" placeholder="" autocomplete="off" ng-model="$ctrl.mainInput" ng-minlength="2" focus-if>
                <ul class="list-group" id="errorList" hidden>
                    <li class="list-group-item list-group-item-danger">Failed to retrieve shortcuts.</li>
                </ul>

                <ul class="list-group" id="shortcutList" ng-if="$ctrl.mainInput.length" ng-repeat="shortcut in $ctrl.shortcuts | filter:$ctrl.mainInput | limitTo:4">
                    <a href="{{shortcut.url}}" target="_blank">
                        <li class="list-group-item" ng-if="shortcut.description"><b>[{{shortcut.keyword}}]</b> - {{shortcut.description}}</li>
                        <li class="list-group-item" ng-if="!shortcut.description"><b>[{{shortcut.keyword}}]</b></li>
                    </a>
                </ul>
            </div>
        </form>
        </div>
    </div>
</div>